# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: e3c7deb25c41f47ef35ab392df0fe548791432dcfd63975a938c3d24803e6ce8dbf777114c88a0b7849653745b0cf00217c18daddd7c571d8960f76aa9c3b706

test:
  secret_key_base: 6b957a9225ddde79f162c4d6487e71f50cd4e4deacef1c1c2a4c4b9f05d07e4fc8a402846ffd8c73bdd587b71b3bf1b55b0ead8a7f4dad5e8e27c3e7442abdd2

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
