<%= simple_form_for([@anime, @anime.reviews.build]) do |f| %>
	<div id="rating-form">
	</div>
	<%= f.button :submit, :class => "btn-custom2" %>
<% end %>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>