<% content_for :style do %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<% end %>
<div id="myanimelist">
  <div class="wrapper ">
    <br>

    <div>
        <%= link_to "Add anime", new_anime_path, class: "btn btn-outline-primary" %>
    </div>
    <br>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="" scope="col">No</th>
            <th class="" scope="col">Title</th>
            <th class=""scope="col">Settings</th>
          </tr>
        </thead>
        <tbody>
          <%= render "anime_list_settings" %>
        </tbody>
      </table>
    </div>
  </div>
</div>
