<html>

<head>
	<title>
		Page title
	</title>
	<link rel="stylesheet" type="text/css" href="https://myanimelist.cdn-dena.com/static/assets/css/pc/style-abc038a5d1.css">
</head>

<body class="page-common season" data-ms="false">
	<div id="myanimelist">
		<div class="wrapper ">
			<div id="contentWrapper">
				<div>
					<h1 class="h1">Title list anime</h1>
				</div>
				<div id="content" class="pl0 pr0">
					<div class="js-categories-seasonal" style="padding-top: 0px;">
						<div class="seasonal-anime-list js-seasonal-anime-list js-seasonal-anime-list-key-1 clearfix">

							<!-- begin anime card -->
							<!-- foreach anime to show more -->
							<div class="seasonal-anime js-seasonal-anime" data-genre="1,2,10,11,22">
								<div>
									<div class="title">
										<p class="title-text">
											<a href="/" class="link-title">Anime Title</a>
										</p>
									</div>

									<div class="prodsrc">
										<span class="producer">Producer</span>
										<div class="eps">
											<span>? eps</span>
										</div>

										<span class="source">Anime source</span>

										<a href="" title="Quick add anime to my list" class="Lightbox_AddEdit button_add btn-anime-watch-status js-anime-watch-status notinmylist">add</a>
									</div>

									<div class="genres js-genre" id="36474">
										<div class="genres-inner js-genre-inner">
											<!-- foreach anime.genres -->
											<span class="genre">Action</span>
											<span class="genre">Adventure</span>
											<span class="genre">Fantasy</span>
											<span class="genre">Game</span>
											<span class="genre">Romance</span>
											<!-- end foreach -->
										</div>
									</div>
								</div>

								<!-- anime poster -->
								<div class="image"><img src="/anime-image" width="167" height="242" alt="Anime Title">
								</div>

								<div class="synopsis js-synopsis" style="width: 155px;">
									<span class="preline">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
										has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
										type and scrambled it to make a type specimen book.</span>
									<p class="licensors on" data-licensors="Aniplex of America,"><span class="fw-b">Licensor:</span><br>Anime's licensor</p>
								</div>

								<div class="information">
									<div class="info">
										TV -
										<span class="remain-time"> Oct 7, 2018, 00:00 (JST) </span>
									</div>
									<div class="scormem">
										<span class="member fl-r" title="Members">166,262</span>
										<span class="score" title="Score">8.22</span>
									</div>
								</div>
							</div>
							<!-- end anime card -->
							<!-- end foreach -->

						</div>
					</div>
				</div>
			</div> <!--  control container height -->
			<div style="clear:both;"></div>
			<!-- end rightbody -->
		</div>
	</div>
</body>

</html>